certifi~=2022.5.18.1
charset-normalizer==2.0.12
idna~=2.8
requests~=2.22.0
urllib3==1.26.9
pandas~=1.4.0
pip~=22.1.2
keyring~=18.0.1
pytz~=2021.3
numpy~=1.22.1
setuptools~=62.3.4
cffi~=1.15.0
parse~=1.19.0
pyinstaller~=4.8
wheel~=0.37.1
openpyxl~=3.0.10
MarkupSafe~=2.1.1
python-dateutil~=2.8.2
scipy~=1.7.3
SQLAlchemy~=1.4.36
cryptography~=37.0.2
six~=1.16.0
chardet~=3.0.4
simplejson~=3.16.0